*, *:before, *:after { 
    margin:0;
    padding:0;
  }

  body {
    font-family: 'Raleway', sans-serif;
  }
   
  a {
    text-decoration: none;

  }
   
  a.links {
    display: none;
  }
  

  .content {
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
  }
  

  .titulo_form {
    font-size: 38px;
    color: #212121;
    padding: 2px 0 10px 0;
    text-align: center;
    padding-bottom: 30px;
  }
  

  .titulo_form:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
  }
  

  p {
    margin-bottom:15px;
  }
   
  .content p:first-child {
    margin: 0px;
  }
   
  label {
    color: #212121;
    position: relative;
    font-size: 15px;
  }
  

  ::-webkit-input-placeholder  {
    color: #bebcbc;
  }
   
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #bebcbc;
  }
  

  input {
    outline: none;
  }
   
  .campo_form {
    width: 100%;
    padding: 8px;
    border: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
   
  .btn_cadastro_login {
    width: 100%!important;
    cursor: pointer;
    border: none;
    background: #00bdb1;
    padding: 8px 0px;
    margin-top: 15px;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    transition: all 0.2s linear;
  }
   
  .btn_cadastro:hover {
    background: #FF3B3E;
  }
  

  .link{
    position: absolute;
    background: #e6e6e6;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 82%;
    font-size: 14px;
    text-align: right;
  }
   
  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 8px;
    color: #212121;
    margin-left: 10px; 
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
   
  .link a:hover {
    color: #ffffff;
    background: #FF3B3E;
    text-decoration: none;
  }
  

  #cadastro, 
  #login {
  position: absolute;
  top: 0px;
  width: 82%;   
  padding: 20px 6% 55px 6%;
  margin: 65px;;
  background: #efefef;
  border-radius: 0px;
  -webkit-box-shadow: 5px;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login {
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
 
#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.menu {
  background-color: #00bdb1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  width: 18%;
  height: 100%;
  padding: 15px 35px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

.menu_logo img {
  width: 100%;
}

.menu_nav_lista {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 40px;
  line-height: 38px;
  color: #ffffff;
  font-size: 19px;;
}

.menu_nav_lista a {
  color: #ffffff;
  text-decoration: none;
}

.menu_nav_lista a:hover {
  font-weight: bold;
}

.menu_btn_post {
  background-color: #FF3B3E;
  border: #FF3B3E;
  color: #ffffff;
  padding: 10px;
  border-radius: 30px;
  margin-top: 38px;
  font-size: 19px;
  transition: all .1s ease-in-out;
}

.menu_btn_post:hover {
  transform: scale(1.1); 
}

.conteudo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 18%;
}

.topo {
  border-bottom: 1.5px solid #EFEFEF;
  border-right: 1.5px solid #EFEFEF;
  padding: 8px 40px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.topo_btn {
  border: none;
  background-image: url(../imagens/btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8px 12px;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 14px;
}

.search_form {
  display: flex;
  align-items: center;
  background-color: #efefef;
  padding: 5px 20px;
  border-radius: 25px;
  margin-right: 45px;
}

.topo_btn_busca {
  background: none;
  border: none;
  background-image: url(../imagens/magnifying-glass.png);
  height: 15px;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 6px;
}

.topo_txt_busca {
  border: none;
  background-color: #efefef;
  font-size: 14px;
  margin-left: 10px;
  outline: none;
}



@-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
   
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
   
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }
  
