
.img-avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-modal{
    font-size: 18px;
    text-align: center;
}

#btn-copiar{
    background-color: #00bdb1;
    color: white;
    font-style: initial;
}

.avaliacao{ 
    text-align: center;
}

#btnfooterfechar{
    background-color: #00bdb1;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: initial;
}