
body {
    font-family: 'Raleway', sans-serif;
}

.menu {
    background-color: #00bdb1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    width: 18%;
    height: 100%;
    padding: 15px 35px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.menu_logo img {
    width: 100%;
}

.menu_nav_lista {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 40px;
    line-height: 38px;
    color: #ffffff;
    font-size: 19px;;
}

.menu_nav_lista a {
    color: #ffffff;
    text-decoration: none;
}

.menu_nav_lista a:hover {
    font-weight: bold;
}

.menu_btn_post {
    background-color: #FF3B3E;
    border: #FF3B3E;
    color: #ffffff;
    padding: 10px;
    border-radius: 30px;
    margin-top: 38px;
    font-size: 19px;
    transition: all .1s ease-in-out;
}

.menu_btn_post:hover {
    transform: scale(1.1); 
}

.conteudo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 18%;
}

.topo {
    border-bottom: 1.5px solid #EFEFEF;
    border-right: 1.5px solid #EFEFEF;
    padding: 8px 40px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.topo_btn {
    border: none;
    background-image: url(../imagens/btn.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8px 12px;
    color: #ffffff;
    box-sizing: border-box;
    font-size: 14px;
}

.search_form {
    display: flex;
    align-items: center;
    background-color: #efefef;
    padding: 5px 20px;
    border-radius: 25px;
    margin-right: 45px;
}

.btn_busca {
    background: none;
    border: none;
    background-image: url(../imagens/magnifying-glass.png);
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    padding: 6px;
}

.txt_busca {
    border: none;
    background-color: #efefef;
    font-size: 14px;
    margin-left: 10px;
    outline: none;
}

.selecao {
    display: flex;
    justify-content: flex-end;
    padding: 10px 40px;
}

.selecao_btn_a {
    font-size: 14px;
    color: #212121;
}

.selecao_btn_a:hover {
    color: #FF3B3E;
}

a:hover {
    text-decoration: none;
}

.cupons {
    padding: 40px 50px;
}

.card {
    text-align: center;
    border-radius: 0px;
    background-color: #efefef;
    border: none;
    color: #212121;
    font-size: 14px;
}

.card-img-top {
    height: 160px;
    object-fit: cover;
    transition: .3s ease;
}

img.card-img-top:hover {
    opacity: .5;
}

.card-body {
    height: 170px;
}

.card_up {
    background-color: #FF3B3E;
    background-image: url(../imagens/up_badge.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: 11px;
    padding: 15px;
}

.btn_card {
    border-radius: 0px;
    color: #ffffff;
    background-color: #00bdb1;
    border: #00bdb1;
}

.btn_card:hover {
    background-color: #FF3B3E;
    border: #FF3B3E;
    color: #ffffff;
}